/* Override Blowfish font variables */
/* :root {
  --font-body:
    'Inter', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', sans-serif;
  --font-heading: 'Playfair Display', ui-serif, Georgia, serif; */
/* } */

@font-face {
  font-family: 'Source Sans 3';
  src: url('/fonts/Source Sans 3.ttf');
  font-family: 'Playfair Display';
  src: url('/fonts/Playfair Display.ttf');
}

body {
  font-family: 'Source Sans 3';
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Playfair Display';
  /* color: #226822; */
}

.emoji {
  font-family:
    Apple Color Emoji,
    Segoe UI Emoji,
    NotoColorEmoji,
    Segoe UI Symbol,
    Android Emoji,
    EmojiSymbols;
}

article {
  background: rgba(255, 255, 255, 0);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 10px;
}
